<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhx.mall.mbg.mapper.SpGoodsMapper">
  <resultMap id="BaseResultMap" type="com.lhx.mall.mbg.model.SpGoods">
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="goods_number" jdbcType="INTEGER" property="goodsNumber" />
    <result column="goods_weight" jdbcType="SMALLINT" property="goodsWeight" />
    <result column="cat_id" jdbcType="SMALLINT" property="catId" />
    <result column="goods_big_logo" jdbcType="CHAR" property="goodsBigLogo" />
    <result column="goods_small_logo" jdbcType="CHAR" property="goodsSmallLogo" />
    <result column="is_del" jdbcType="CHAR" property="isDel" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
    <result column="upd_time" jdbcType="INTEGER" property="updTime" />
    <result column="delete_time" jdbcType="INTEGER" property="deleteTime" />
    <result column="cat_one_id" jdbcType="SMALLINT" property="catOneId" />
    <result column="cat_two_id" jdbcType="SMALLINT" property="catTwoId" />
    <result column="cat_three_id" jdbcType="SMALLINT" property="catThreeId" />
    <result column="hot_mumber" jdbcType="INTEGER" property="hotMumber" />
    <result column="is_promote" jdbcType="SMALLINT" property="isPromote" />
    <result column="goods_state" jdbcType="INTEGER" property="goodsState" />
    <result column="goods_type" jdbcType="INTEGER" property="goodsType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.lhx.mall.mbg.model.SpGoods">
    <result column="goods_introduce" jdbcType="LONGVARCHAR" property="goodsIntroduce" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    goods_id, goods_name, goods_price, goods_number, goods_weight, cat_id, goods_big_logo, 
    goods_small_logo, is_del, add_time, upd_time, delete_time, cat_one_id, cat_two_id, 
    cat_three_id, hot_mumber, is_promote, goods_state, goods_type
  </sql>
  <sql id="Blob_Column_List">
    goods_introduce
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.lhx.mall.mbg.model.SpGoodsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sp_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.lhx.mall.mbg.model.SpGoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sp_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sp_goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sp_goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lhx.mall.mbg.model.SpGoodsExample">
    delete from sp_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lhx.mall.mbg.model.SpGoods">
    insert into sp_goods (goods_id, goods_name, goods_price, 
      goods_number, goods_weight, cat_id, 
      goods_big_logo, goods_small_logo, is_del, 
      add_time, upd_time, delete_time, 
      cat_one_id, cat_two_id, cat_three_id, 
      hot_mumber, is_promote, goods_state, 
      goods_type, goods_introduce)
    values (#{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=DECIMAL}, 
      #{goodsNumber,jdbcType=INTEGER}, #{goodsWeight,jdbcType=SMALLINT}, #{catId,jdbcType=SMALLINT}, 
      #{goodsBigLogo,jdbcType=CHAR}, #{goodsSmallLogo,jdbcType=CHAR}, #{isDel,jdbcType=CHAR}, 
      #{addTime,jdbcType=INTEGER}, #{updTime,jdbcType=INTEGER}, #{deleteTime,jdbcType=INTEGER}, 
      #{catOneId,jdbcType=SMALLINT}, #{catTwoId,jdbcType=SMALLINT}, #{catThreeId,jdbcType=SMALLINT}, 
      #{hotMumber,jdbcType=INTEGER}, #{isPromote,jdbcType=SMALLINT}, #{goodsState,jdbcType=INTEGER}, 
      #{goodsType,jdbcType=INTEGER}, #{goodsIntroduce,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lhx.mall.mbg.model.SpGoods">
    insert into sp_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
      <if test="goodsNumber != null">
        goods_number,
      </if>
      <if test="goodsWeight != null">
        goods_weight,
      </if>
      <if test="catId != null">
        cat_id,
      </if>
      <if test="goodsBigLogo != null">
        goods_big_logo,
      </if>
      <if test="goodsSmallLogo != null">
        goods_small_logo,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updTime != null">
        upd_time,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="catOneId != null">
        cat_one_id,
      </if>
      <if test="catTwoId != null">
        cat_two_id,
      </if>
      <if test="catThreeId != null">
        cat_three_id,
      </if>
      <if test="hotMumber != null">
        hot_mumber,
      </if>
      <if test="isPromote != null">
        is_promote,
      </if>
      <if test="goodsState != null">
        goods_state,
      </if>
      <if test="goodsType != null">
        goods_type,
      </if>
      <if test="goodsIntroduce != null">
        goods_introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsNumber != null">
        #{goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsWeight != null">
        #{goodsWeight,jdbcType=SMALLINT},
      </if>
      <if test="catId != null">
        #{catId,jdbcType=SMALLINT},
      </if>
      <if test="goodsBigLogo != null">
        #{goodsBigLogo,jdbcType=CHAR},
      </if>
      <if test="goodsSmallLogo != null">
        #{goodsSmallLogo,jdbcType=CHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=CHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=INTEGER},
      </if>
      <if test="updTime != null">
        #{updTime,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=INTEGER},
      </if>
      <if test="catOneId != null">
        #{catOneId,jdbcType=SMALLINT},
      </if>
      <if test="catTwoId != null">
        #{catTwoId,jdbcType=SMALLINT},
      </if>
      <if test="catThreeId != null">
        #{catThreeId,jdbcType=SMALLINT},
      </if>
      <if test="hotMumber != null">
        #{hotMumber,jdbcType=INTEGER},
      </if>
      <if test="isPromote != null">
        #{isPromote,jdbcType=SMALLINT},
      </if>
      <if test="goodsState != null">
        #{goodsState,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null">
        #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="goodsIntroduce != null">
        #{goodsIntroduce,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lhx.mall.mbg.model.SpGoodsExample" resultType="java.lang.Integer">
    select count(*) from sp_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sp_goods
    <set>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null">
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsPrice != null">
        goods_price = #{record.goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsNumber != null">
        goods_number = #{record.goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="record.goodsWeight != null">
        goods_weight = #{record.goodsWeight,jdbcType=SMALLINT},
      </if>
      <if test="record.catId != null">
        cat_id = #{record.catId,jdbcType=SMALLINT},
      </if>
      <if test="record.goodsBigLogo != null">
        goods_big_logo = #{record.goodsBigLogo,jdbcType=CHAR},
      </if>
      <if test="record.goodsSmallLogo != null">
        goods_small_logo = #{record.goodsSmallLogo,jdbcType=CHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=INTEGER},
      </if>
      <if test="record.updTime != null">
        upd_time = #{record.updTime,jdbcType=INTEGER},
      </if>
      <if test="record.deleteTime != null">
        delete_time = #{record.deleteTime,jdbcType=INTEGER},
      </if>
      <if test="record.catOneId != null">
        cat_one_id = #{record.catOneId,jdbcType=SMALLINT},
      </if>
      <if test="record.catTwoId != null">
        cat_two_id = #{record.catTwoId,jdbcType=SMALLINT},
      </if>
      <if test="record.catThreeId != null">
        cat_three_id = #{record.catThreeId,jdbcType=SMALLINT},
      </if>
      <if test="record.hotMumber != null">
        hot_mumber = #{record.hotMumber,jdbcType=INTEGER},
      </if>
      <if test="record.isPromote != null">
        is_promote = #{record.isPromote,jdbcType=SMALLINT},
      </if>
      <if test="record.goodsState != null">
        goods_state = #{record.goodsState,jdbcType=INTEGER},
      </if>
      <if test="record.goodsType != null">
        goods_type = #{record.goodsType,jdbcType=INTEGER},
      </if>
      <if test="record.goodsIntroduce != null">
        goods_introduce = #{record.goodsIntroduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update sp_goods
    set goods_id = #{record.goodsId,jdbcType=INTEGER},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_price = #{record.goodsPrice,jdbcType=DECIMAL},
      goods_number = #{record.goodsNumber,jdbcType=INTEGER},
      goods_weight = #{record.goodsWeight,jdbcType=SMALLINT},
      cat_id = #{record.catId,jdbcType=SMALLINT},
      goods_big_logo = #{record.goodsBigLogo,jdbcType=CHAR},
      goods_small_logo = #{record.goodsSmallLogo,jdbcType=CHAR},
      is_del = #{record.isDel,jdbcType=CHAR},
      add_time = #{record.addTime,jdbcType=INTEGER},
      upd_time = #{record.updTime,jdbcType=INTEGER},
      delete_time = #{record.deleteTime,jdbcType=INTEGER},
      cat_one_id = #{record.catOneId,jdbcType=SMALLINT},
      cat_two_id = #{record.catTwoId,jdbcType=SMALLINT},
      cat_three_id = #{record.catThreeId,jdbcType=SMALLINT},
      hot_mumber = #{record.hotMumber,jdbcType=INTEGER},
      is_promote = #{record.isPromote,jdbcType=SMALLINT},
      goods_state = #{record.goodsState,jdbcType=INTEGER},
      goods_type = #{record.goodsType,jdbcType=INTEGER},
      goods_introduce = #{record.goodsIntroduce,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sp_goods
    set goods_id = #{record.goodsId,jdbcType=INTEGER},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_price = #{record.goodsPrice,jdbcType=DECIMAL},
      goods_number = #{record.goodsNumber,jdbcType=INTEGER},
      goods_weight = #{record.goodsWeight,jdbcType=SMALLINT},
      cat_id = #{record.catId,jdbcType=SMALLINT},
      goods_big_logo = #{record.goodsBigLogo,jdbcType=CHAR},
      goods_small_logo = #{record.goodsSmallLogo,jdbcType=CHAR},
      is_del = #{record.isDel,jdbcType=CHAR},
      add_time = #{record.addTime,jdbcType=INTEGER},
      upd_time = #{record.updTime,jdbcType=INTEGER},
      delete_time = #{record.deleteTime,jdbcType=INTEGER},
      cat_one_id = #{record.catOneId,jdbcType=SMALLINT},
      cat_two_id = #{record.catTwoId,jdbcType=SMALLINT},
      cat_three_id = #{record.catThreeId,jdbcType=SMALLINT},
      hot_mumber = #{record.hotMumber,jdbcType=INTEGER},
      is_promote = #{record.isPromote,jdbcType=SMALLINT},
      goods_state = #{record.goodsState,jdbcType=INTEGER},
      goods_type = #{record.goodsType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhx.mall.mbg.model.SpGoods">
    update sp_goods
    <set>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsNumber != null">
        goods_number = #{goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsWeight != null">
        goods_weight = #{goodsWeight,jdbcType=SMALLINT},
      </if>
      <if test="catId != null">
        cat_id = #{catId,jdbcType=SMALLINT},
      </if>
      <if test="goodsBigLogo != null">
        goods_big_logo = #{goodsBigLogo,jdbcType=CHAR},
      </if>
      <if test="goodsSmallLogo != null">
        goods_small_logo = #{goodsSmallLogo,jdbcType=CHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
      <if test="updTime != null">
        upd_time = #{updTime,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=INTEGER},
      </if>
      <if test="catOneId != null">
        cat_one_id = #{catOneId,jdbcType=SMALLINT},
      </if>
      <if test="catTwoId != null">
        cat_two_id = #{catTwoId,jdbcType=SMALLINT},
      </if>
      <if test="catThreeId != null">
        cat_three_id = #{catThreeId,jdbcType=SMALLINT},
      </if>
      <if test="hotMumber != null">
        hot_mumber = #{hotMumber,jdbcType=INTEGER},
      </if>
      <if test="isPromote != null">
        is_promote = #{isPromote,jdbcType=SMALLINT},
      </if>
      <if test="goodsState != null">
        goods_state = #{goodsState,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null">
        goods_type = #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="goodsIntroduce != null">
        goods_introduce = #{goodsIntroduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lhx.mall.mbg.model.SpGoods">
    update sp_goods
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      goods_number = #{goodsNumber,jdbcType=INTEGER},
      goods_weight = #{goodsWeight,jdbcType=SMALLINT},
      cat_id = #{catId,jdbcType=SMALLINT},
      goods_big_logo = #{goodsBigLogo,jdbcType=CHAR},
      goods_small_logo = #{goodsSmallLogo,jdbcType=CHAR},
      is_del = #{isDel,jdbcType=CHAR},
      add_time = #{addTime,jdbcType=INTEGER},
      upd_time = #{updTime,jdbcType=INTEGER},
      delete_time = #{deleteTime,jdbcType=INTEGER},
      cat_one_id = #{catOneId,jdbcType=SMALLINT},
      cat_two_id = #{catTwoId,jdbcType=SMALLINT},
      cat_three_id = #{catThreeId,jdbcType=SMALLINT},
      hot_mumber = #{hotMumber,jdbcType=INTEGER},
      is_promote = #{isPromote,jdbcType=SMALLINT},
      goods_state = #{goodsState,jdbcType=INTEGER},
      goods_type = #{goodsType,jdbcType=INTEGER},
      goods_introduce = #{goodsIntroduce,jdbcType=LONGVARCHAR}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhx.mall.mbg.model.SpGoods">
    update sp_goods
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      goods_number = #{goodsNumber,jdbcType=INTEGER},
      goods_weight = #{goodsWeight,jdbcType=SMALLINT},
      cat_id = #{catId,jdbcType=SMALLINT},
      goods_big_logo = #{goodsBigLogo,jdbcType=CHAR},
      goods_small_logo = #{goodsSmallLogo,jdbcType=CHAR},
      is_del = #{isDel,jdbcType=CHAR},
      add_time = #{addTime,jdbcType=INTEGER},
      upd_time = #{updTime,jdbcType=INTEGER},
      delete_time = #{deleteTime,jdbcType=INTEGER},
      cat_one_id = #{catOneId,jdbcType=SMALLINT},
      cat_two_id = #{catTwoId,jdbcType=SMALLINT},
      cat_three_id = #{catThreeId,jdbcType=SMALLINT},
      hot_mumber = #{hotMumber,jdbcType=INTEGER},
      is_promote = #{isPromote,jdbcType=SMALLINT},
      goods_state = #{goodsState,jdbcType=INTEGER},
      goods_type = #{goodsType,jdbcType=INTEGER}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
</mapper>