<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhx.mall.mbg.mapper.SpReport3Mapper">
  <resultMap id="BaseResultMap" type="com.lhx.mall.mbg.model.SpReport3">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rp3_src" jdbcType="VARCHAR" property="rp3Src" />
    <result column="rp3_count" jdbcType="INTEGER" property="rp3Count" />
    <result column="rp3_date" jdbcType="TIMESTAMP" property="rp3Date" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, rp3_src, rp3_count, rp3_date
  </sql>
  <select id="selectByExample" parameterType="com.lhx.mall.mbg.model.SpReport3Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sp_report_3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sp_report_3
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sp_report_3
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lhx.mall.mbg.model.SpReport3Example">
    delete from sp_report_3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lhx.mall.mbg.model.SpReport3">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sp_report_3 (rp3_src, rp3_count, rp3_date
      )
    values (#{rp3Src,jdbcType=VARCHAR}, #{rp3Count,jdbcType=INTEGER}, #{rp3Date,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lhx.mall.mbg.model.SpReport3">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sp_report_3
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rp3Src != null">
        rp3_src,
      </if>
      <if test="rp3Count != null">
        rp3_count,
      </if>
      <if test="rp3Date != null">
        rp3_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rp3Src != null">
        #{rp3Src,jdbcType=VARCHAR},
      </if>
      <if test="rp3Count != null">
        #{rp3Count,jdbcType=INTEGER},
      </if>
      <if test="rp3Date != null">
        #{rp3Date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lhx.mall.mbg.model.SpReport3Example" resultType="java.lang.Integer">
    select count(*) from sp_report_3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sp_report_3
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.rp3Src != null">
        rp3_src = #{record.rp3Src,jdbcType=VARCHAR},
      </if>
      <if test="record.rp3Count != null">
        rp3_count = #{record.rp3Count,jdbcType=INTEGER},
      </if>
      <if test="record.rp3Date != null">
        rp3_date = #{record.rp3Date,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sp_report_3
    set id = #{record.id,jdbcType=INTEGER},
      rp3_src = #{record.rp3Src,jdbcType=VARCHAR},
      rp3_count = #{record.rp3Count,jdbcType=INTEGER},
      rp3_date = #{record.rp3Date,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhx.mall.mbg.model.SpReport3">
    update sp_report_3
    <set>
      <if test="rp3Src != null">
        rp3_src = #{rp3Src,jdbcType=VARCHAR},
      </if>
      <if test="rp3Count != null">
        rp3_count = #{rp3Count,jdbcType=INTEGER},
      </if>
      <if test="rp3Date != null">
        rp3_date = #{rp3Date,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhx.mall.mbg.model.SpReport3">
    update sp_report_3
    set rp3_src = #{rp3Src,jdbcType=VARCHAR},
      rp3_count = #{rp3Count,jdbcType=INTEGER},
      rp3_date = #{rp3Date,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>